@charset "UTF-8";

   h1 {
        color: blueviolet;
        background-color: aliceblue;
        font-size: 36px;
    }
    p {
        text-align: justify;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 17px;
        color: darkslateblue;
    }
    h2 {
        color: darkslateblue;
        text-align: center;
    }
    body {
        background-color: aquamarine;
    }