@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Schoolbell&display=swap');


p {
    font-family: 'schoolbell';
    font-size: 1.2em;
}
h1, h2 { /*BOTA A MERDA DA VÍRGULA ENTRE DUAS COISA DIFERENTES*/
font-family: 'Ms Madi';
color: brown;
text-align: center;
text-decoration: underline;
}
  
  body {
    background-image: linear-gradient(90deg, gray, white, rgb(255, 226, 226));
  }
  